@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
::-webkit-scrollbar {
    width: 11px; /* Độ rộng của thanh cuộn dọc */
    height: 12px; /* Độ rộng của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của track thanh cuộn */
}

::-webkit-scrollbar-thumb {
    background-color: gray; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo tròn góc của thanh cuộn */
    border: 3px solid #f1f1f1; /* Đường viền xung quanh thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu của thanh cuộn khi hover */
}

.custom-transition {
    @apply duration-300 transition ease-in-out;
}

.custom-container {
    @apply 3xl:mx-[640px] 2xl:mx-[440px] xl:mx-[440px] lg:mx-[380px];
}

.custom-container-child {
    @apply mx-6;
}
